/*Principal*/
body {
	
    
}
.atome {
	margin: 0;
	padding: 0;
	padding-left: 144px;
	/*min-width: 100%;
	min-height: 100%;*/
    
}
.electron {
	position: absolute;
	left: 31%;
	top: 10%;
	width: 54px;
	height: 54px;
}
.electron2 {
	position: absolute;
	left: 14.5%;
	top: 15%;
	width: 54px;
	height: 54px;
}
.electron3 {
	position: absolute;
	left: 31%;
	top: 10%;
	width: 54px;
	height: 54px;
}
.electron4 {
	position: absolute;
	left: 21%;
	top: 90%;
	width: 54px;
	height: 54px;
}